@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.chat {
	&__container {
		@include breakpoint(l) {
			padding: 20px 40px;
			max-height: calc(100vh - 160px);
		}
		position: relative;
		max-height: calc(100vh - 130px);
		padding: 15px;
		overflow-y: auto;
		display: grid;
		grid-template-columns: 1fr;
		align-items: end;
	}

	&__container::-webkit-scrollbar {
		position: absolute;
		width: 5px;
		background-color:transparent;
	}

	&__container::-webkit-scrollbar-thumb {
    background-color: $chat-bg;
		border-radius: 8px;
	}
}