$body-bg: #cecece;
$chat-bg: #363A51;
$input-bg: #393f54cc;
$chat-gradient: linear-gradient(135deg, #363A51 0%, #1D1E26 100%);
$box-shadow: rgba(0,0,0,0.37);

$primary-color: #57E6E6;
$secondary-color: #3ba079;

$text-light: #ffffffb3;
$text-dark: #000000d9;
$text-input: #959595;
$text-grey: #757575;