@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.navbar {
	@include breakpoint(l) {
		height: 80px;
		padding: 15px;
	}
	width: 100%;
	height: 50px;
	padding: 15px 10px;
	display: flex;
	align-items: center;
	background: $secondary-color;

	&__container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		@include breakpoint(m) {
			position: static;
			padding: 0;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 40px 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: all 0.5s ease;
			background: $secondary-color;

		&.active {
			top: 50px;
		}
	}

	&__item {
		@include breakpoint(l) {
			padding: 5px 15px;
		}
		padding: 5px;
	}

	&__link {
		@include breakpoint(l) {
			font-size: 18px;
		}
		font-size: 16px;
		font-weight: 500;
		color: $chat-bg;
		transition: all 0.2s;
		&:hover {
			color: $text-dark;
		}
	}
}

.active {
	color: $text-dark;
}

.burger {
	@include breakpoint(m) {
			display: none;
	}
	display: block;
	position: relative;
	width: 27px;
	height: 16px;
	z-index: 3;
	border: none;

	span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			right: 0px;
			position: absolute;
			height: 2px;
			width: 100%;
			background-color: $chat-bg;
			&:first-child {
					width: 100%;
					top: 0px;
			}
			&:last-child {
					width: 100%;
					top: auto;
					bottom: 0px;
			}
	}

	&.active {
			span {
					transform: scale(0);
					&:first-child {
							transform: rotate(-45deg);
							top: calc(50% - 1px);
					}
					&:last-child {
							width: 100%;
							transform: rotate(45deg);
							bottom: calc(50% - 1px);
					}
			}
	}
}