@import '../../styles/variables.scss';

.login {
	height: 100%;

	&__wrapper {
		height: 100%;
		height: calc(100vh - 80px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}